* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 90px;
}

.main {
    padding: 320px 200px 200px 440px;
    background: url(../image/mn.jpg) no-repeat center/ cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    color: rgb(103, 115, 85);
    text-shadow: 2px 2px rgb(158, 176, 127);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}
h3 {
    color: rgb(103, 115, 85);
    text-shadow: 2px 2px rgb(158, 176, 127);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

h2::after {
    content: "";
    position: absolute;
    left: 500;
    top: 414px;
    height: 25px;
    width: 2px;
    background-color: rgb(103, 115, 85);
}